
<center>
<h1>Home Page</h1>
<form><textarea cols="”40″" onclick="select()" readonly="" rows="”30″" style="height: 70px; width: 500px;">fib1 = int(input("First no :\n"))
    fib2 = int(input("Second no :\n"))
     
    n = 10
    print(fib1, end=" ")
    print(fib2, end=" ")
    for i in range(2, n):
        fib1, fib2 = fib2, fib1 + fib2
        print(fib2, end=' ')</textarea></form>
    <h1>Output:</h1>
    <p>
<br>First no : 2
<br>Second no : 3
<br>2 3 5 8 13 21 34 55 89 144 
    </p>
<p> BO MUJHE SARI DUNIYA SE JUDA LAGTI HAI <BR> AINA DEKHKAR AINE PAR SHAQ KARTI HAI <BR> AUR EK CHHIPKALI SE DARNE BALI LADI <BR> RAAT KO CHHIP CHHIP KAR BAAT KARTI HAI </p>


</center>